/* ==================================================== /
# Project Title: Mayas Portfolio
# Started:  14/06/2025 17:42
# Author: Jordan
/ ==================================================== */

* {
  --steel-teal: #578088;
  --dolphin-gray: #74948C;
  --light-french-beige: #CFB580;
  --milk-chocolate: #864E3E;
  --copper-red: #CA7C4C;
}

html {
  background-color: var(--steel-teal);
  font-family: "Edu VIC WA NT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}